.oldpassword {
    padding-left: 40px;
}

#oldpasswordlabel { 
    position: relative;
}

#oldpasswordlabel:before { 
    content: "\F4DA";
    position: absolute;
    font-weight: bold;
    font-family: "bootstrap-icons";
    top: 15px;
    left: 10px;
    z-index: 9999;
}

.newpassword {
    padding-left: 40px;
}

#newpasswordlabel { 
    position: relative;
}

#newpasswordlabel:before { 
    content: "\F4DA";
    position: absolute;
    font-weight: bold;
    font-family: "bootstrap-icons";
    top: 15px;
    left: 10px;
    z-index: 9999;
}

.newpasswordconfirmation {
    padding-left: 40px;
}

#newpasswordconfirmationlabel { 
    position: relative;
}

#newpasswordconfirmationlabel:before { 
    content: "\F4DA";
    position: absolute;
    font-weight: bold;
    font-family: "bootstrap-icons";
    top: 15px;
    left: 10px;
    z-index: 9999;
}