{% extends 'main/formlayout.html' %}

{% block main %}
<link rel="stylesheet" href="../static/css/borrowform.css">
<div class="d-flex justify-content-center align-items-center">
    <script src="../static/js/cart.js"></script>
    <script src="../static/js/form.js"></script>
    <div class="backtotop text-center">
        <span class="backtotopper"></span>
        <span class="text-center" style="font-size: 12px;">Back to top</span>
    </div>
    <div class="backtotop">
        <button class="btn btn-dark p-lg-1 p-md-1 p-2" id="backtotop" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
            <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
        </svg></button>
    </div>
    <div class="container" style="height: 100%;">
        <h3>Send a Request</h3>
        <hr>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'danger' %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show my-1" role="alert">
                                <i class="bi bi-hand-thumbs-down-fill text-dark mx-3"></i>{{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% elif category == 'success' %}    
                            <div class="alert alert-{{ category }} alert-dismissible fade show my-1" role="alert">
                                <i class="bi bi-hand-thumbs-up-fill text-dark mx-3"></i>{{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}    
                    {% endfor %}
                {% endif %}
            {% endwith %} 
        <span>In this page, you can submit a request to the librarian if you want a book or an article made available in the library.<br> It depends on the librarian whether it will be accepted or not. Feedback will be shown inside your requests page.</span> 
        <br><span>You can provide any detail about the book or article you want to request based on the form below.</span><br><br>
        <span><span class="fw-bold"><NOTE:/span> Your request may be approved or denied by the librarian at any time.</span>
        <br><br>
        <form action="/request" method="POST">
            <div class="form-row col-10 d-flex flex-column justify-content-center align-center-center">
                <label for="bookname" id="booknamelabel">
                    <input class="form-control border border-dark booktitle" autocomplete="off" type="text" required name="bookname" id="bookname" placeholder="Book Title">
                </label>
                <label for="bookauthor" id="bookauthorrequestlabel">
                    <input class="form-control border border-dark bookauthorrequest mt-2" type="text" required name="bookauthor" id="bookauthor" placeholder="Book Author">
                </label>
                <label for="bookisbn" id="bookisbnlabel">
                    <input class="form-control border border-dark bookisbn" type="text" name="bookisbn" id="bookisbn" placeholder="Book ISBN Code">
                </label>
                <label for="bookyear" id="bookyearlabel">
                    <input class="form-control border border-dark bookyear" type="text" name="bookyear" id="bookyear" placeholder="Publishing Year">
                </label>
                <button class="btn d-flex justify-content-start mt-1 align-items-center isbnbtn" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle me-2" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>ISBN Code</button>
                <button class="btn d-flex justify-content-start mt-1 align-items-center yearbtn" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle me-2" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>Publishing Year</button>
            </div>
            <div class="form-row me-2 my-lg-3 my-md-3 my-3">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="mainbutton mt-2">Send Request</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}